.app {
 display: flex;
 flex-direction: column; 
 justify-content: center;
 align-items: center;  

}

.input input{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.task {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tasks {
    background-color: gray;
    padding: 10px;
}